/* css for Header */
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}
:root{
    --yellow-color:#ffc947;
    --black-color:#1b1b1b;
    --white-color:#ffff;
    --dark-pink-color:#991f53;
}

nav{
    background:var(--black-color);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 110;
    /* padding: ; */

}
/*
.sticky{
    position:fixed;
    top:0;
    width:100%;
}
.sticky + .contentsita{
    padding-top:70px;
}

    
    transition: 0.6s;
}
#carouselExampleFade{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height:calc(100vh-70px);
}*/
nav:after{
    content:'';
    clear:both;
    display:table;
}
nav .logo{
    float:left;
    line-height: 70px;
    padding-left: 59px;
}
nav ul{
    float:right;
    margin-right: 400px;
    list-style: none;
    position: relative;
}
nav ul li{
    /*float:left;*/ 
    display: inline-block;
    background:var(--black-color);
    margin:0 5px;
}
nav ul li a{
    color: var(--white-color);
    line-height: 70px;
    text-decoration: none;
    font-size: 10px;
    padding: 8px 2px;
    font-family: DIN Neuzeit Grotesk,sans-serif;
    transition: 0.3s all ease;
}
.more__menu nav ul ul li{
    width:80px !important;}
nav ul li a:hover{
    color: var(--yellow-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--yellow-color),0 0 10px var(--yellow-color);
}
nav ul ul li a{
    font-size: 15px;
    font-family: Futura,sans-serif;
    font-weight: 400;
}
nav ul li a > span{
    color:var(--dark-pink-color);
}
nav ul li ul li a > span{
    font-size: 11px;
    color:var(--dark-pink-color)

}
nav ul ul li a:hover{
    box-shadow: none;    
}
nav ul ul{
    position: absolute;
    top: 90px;
    z-index: 100;
    border-top: 3px solid var(--yellow-color);
    opacity: 0;
    visibility: hidden;
    transition:top 0.3s;
}
nav ul ul ul{
    border-top:none;
}
nav ul li:hover >ul{
    top:70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 260px;
    float:none;
    display:list-item;
    border-bottom:  1px solid rgba(0,0,0,0.3);
}
nav ul ul{
    padding-left: 0rem;
}
nav ul{
    margin-bottom: 0rem;
}
nav ul ul li a{
    line-height:30px;
}
nav ul ul ul li{
    position: relative;
    top:-60px;
    left:260px;
}
.show,.icon,input{
    display:none;
}
nav ul li ul li a > span.fa-angle-right{
    font-size:15px;
    margin-left:97px;
    color: var(--white-color)
}
/*
.icons{
    float: right;
    margin-left: 449px !important;
    margin-bottom: 8px !important;
}*/
nav .icons{
    display:block;
    color: var(--white-color);
    position: absolute;
    top: 0;
    right: 74px;
    line-height: 70px;
    cursor: pointer;
    font-size: 23px; 
}
nav .search-form{
    position: absolute;
    top:105%;
    right: 2rem;
    width:50rem;
    height:4.5rem;
    background:var(--white-color);
    border-radius: .5rem;
    overflow:hidden;
    display:flex;
    align-items: center;
    box-shadow: .5rem 1rem rgba(0,0,0,0.1);
}
.search-form input{
    height: 100%;
    width: 100%;
    background:none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black-color);
    padding:0 1.5rem;
}
.search-form label{
    font-size:2.2rem;
    padding-right:1.5rem;
    color:var(--black-color);
    cursor: pointer;
}

/* Banner Section CSS */
.carouselStyle{
    margin-top:70px !important;
    height:800px !important;
}

.carouselImage{
    min-height:800px;
}






@media screen and (max-width: 1248px){
    nav ul{
        margin-right: 0px;
        float:left;
    }
    nav{
        position:fixed;
        left: 0;
        top: 0px;
        padding:0;
        background:var(--black-color);
        z-index: 100;
       
        overflow:auto;
        width:calc(100%-100px);
        transition: all 0.3s ease-out;
    }
    /*  height:calc(100%-70px); */
    nav .logo{
        padding-left: 30px;
        width: 100%;
    }
    .show + a, ul{
        display:none;
    }
    nav ul li,nav ul ul li{
        display:block;
        width: 100%;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show{
        display:block;
        color:var(--white-color);
        font: size 18px;
        padding: 0px 12px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color: var(--yellow-color);
    }
    .icon{
        display:block;
        position: absolute;
        color: var(--white-color);
        top:0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 23px;
    }
    nav ul ul{
        top: 70px;
        border-top: 0px;
        float:none;
        position: static;
        display:none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    nav ul ul ul a{
        padding-left:80px;
    }
    nav ul ul ul li{
        position:static;
    }
    [id^=btn]:checked+ul{
        display:block;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    span.cancel:before{
        content:'\f00d';
    } 

    /* Banner Section CSS */
    .carouselImage{
        min-height:500px;
    } 
}

@media (max-width:991px){
    /* Banner Section CSS */
    .carouselImage{
        min-height:400px;
    }
}

@media (max-width:767px){
    /* Banner Section CSS */
    .carouselImage{
        min-height:200px;
    }
}




